:root {
  --background: #850530;
  --background2: #b51145;
  --background3: #980d39;
  --white: #fff;
  --font-familly: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  font-size: 1rem;
  background: var(--background3);
}

.card {
  padding: 1rem;
  height: 9rem;
  display: grid;
}

.link {
  background-color: var(--background3);
  text-decoration: none;
  color: var(--white);
}

.link:nth-child(3n-2) {
  background-color: var(--background2);
  text-decoration: none;
  color: var(--white);
}

.link:nth-child(3n+0) {
  background-color: var(--background);
  text-decoration: none;
  color: var(--white);
}

.company-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--font-familly);
}

.card > * {
  display: flex;
  justify-content: flex-end;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media screen and  (max-width: 768px) {
  .cards {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}

/* header style */

.header {
  height: 2rem;
  padding: 1.5rem 0;
  background-color: #850530;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-familly);
}

.header-icon {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

.bi {
  font-size: 1.5rem;
  cursor: pointer;
}

.bi-arrow-left-short {
  font-size: 2.5rem;
  color: var(--white);
}

/* company details */

.companyDetails {
  background: var(--background2);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}

.infoTable {
  width: 100%;
  margin: 2rem 0;
  font-family: var(--font-familly);
  font-size: 1rem;
}

.tableInfo {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  padding: 1rem;
}

tr {
  background: var(--background);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: var(--white);
}

tr:nth-child(even) {
  background: var(--background3);
  color: var(--white);
}

/*  search box */

.search {
  padding: 10px;
  width: 60%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 3px;
}

.title {
  margin-left: 1rem;
  font-size: 1.8rem;
}

.message {
  color: #fc7246;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.notfound {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.symbol,
.founded {
  font-family: var(--font-familly);
}

.symbol {
  font-size: 1.5rem;
}

.founded {
  margin-top: 1rem;
}

.goTo {
  color: blue;
  margin-top: 1rem;
}
