*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-size: 1rem;
}

.card {
  background: linear-gradient(to bottom right, #ff48b6, #ff7e6c);
  padding: 1rem;
  height: 6rem;
  display: grid;
}

.company-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > * {
  display: flex;
  justify-content: flex-end;
}

.card:nth-child(odd) {
  background: linear-gradient(to bottom right, #ff48b6, #ff7e6c);
  opacity: 0.8;
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
}

/* header style */

.header {
  height: 2rem;
  padding: 1.5rem 0;
  background: linear-gradient(to bottom right, #ff48b6, #ff7e6c);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

.bi {
  font-size: 1.5rem;
  cursor: pointer;
}

.bi-arrow-left-short {
  font-size: 2.5rem;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
}

/* company details */

.companyDetails {
  background: linear-gradient(to bottom right, #ff48b6, #ff7e6c);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  display: grid;
  justify-content: center;

  /* grid-column: auto; */
  margin-top: 1rem;
}

.infoTable {
  width: 80%;
  margin: 2rem 0;
  background: linear-gradient(to bottom right, #ff6c87, #fc7246);
}

.tableInfo {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  padding: 10px;
}

tr {
  background: linear-gradient(to bottom right, #b4a165, #c4a50d);
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  color: black;
}

tr:nth-child(even) {
  background: linear-gradient(to bottom right, #87cf8e, #b8cf87);
  color: black;
}

/*  search box */

.search {
  padding: 10px;
  width: 60%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 3px;
}

.title {
  margin-left: 1rem;
  font-size: 1.5rem;
}
